# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Static and media files
staticfiles/
media/

# VSCode
.vscode/

# PyCharm
.idea/

# Environment
.env
venv/
env/
.tennis_env/

# OS files
.DS_Store
Thumbs.db
