{% extends 'court/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="min-width: 350px; max-width: 500px; width: 100%;">
    <h2 class="text-center mb-3">Yeni Şifre Belirle</h2>

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors.0 }}
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1|add_class:"form-control" }}
        {% if form.new_password1.errors %}
          <div class="form-text text-danger">{{ form.new_password1.errors.0 }}</div>
        {% endif %}
        {% if form.new_password1.help_text %}
          <div class="form-text">{{ form.new_password1.help_text }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2|add_class:"form-control" }}
        {% if form.new_password2.errors %}
          <div class="form-text text-danger">{{ form.new_password2.errors.0 }}</div>
        {% endif %}
        {% if form.new_password2.help_text %}
          <div class="form-text">{{ form.new_password2.help_text }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-success w-100">Şifremi Güncelle</button>
    </form>
  </div>
</div>
{% endblock %}
